# MongoDB Connection - Use your actual credentials
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
MONGODB_URI="mongodb://root:password@localhost:27018"
MONGODB_DB="opala-filmes"

# NextAuth Secret
# Generate a new secret for your environment using: openssl rand -base64 32
NEXTAUTH_SECRET=

NEXT_PUBLIC_TMDB_API_KEY=
